[Unit]
  Description=HTPC Manager Daemon
  After=network.target

[Service]
  User=htpc-manager
  Group=htpc-manager
  Type=forking
  ExecStart=/usr/bin/python /opt/yunohost/htpc-manager/Htpc.py --daemon --webdir PATHTOCHANGE --host 127.0.0.1 --datadir /home/yunohost.app/htpc-manager --port PORTTOCHANGE
  KillMode=process
  Restart=on-failure
     
[Install]
  WantedBy=multi-user.target

