[Unit]
  Description=HTPC Manager Daemon
  After=network.target

[Service]
  User=htpc-manager
  Group=htpc-manager
  Type=forking
  ExecStart=/usr/bin/python /opt/yunohost/htpc-manager/Htpc.py --daemon --webdir PATHTOCHANGE --datadir /home/yunohost.app/htpc-manager --port PORTTOCHANGE --pidfile /var/run/htpc-manager/htpc-manager.pid
  PIDFile=/var/run/htpc-manager/htpc-manager.pid
  KillMode=process
  Restart=on-failure
     
[Install]
  WantedBy=multi-user.target

